name: CMake

on: [push, pull_request]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - uses: actions/setup-python@v3
      with:
        python-version: '3.12'
    - name: install ubuntu dependencies
      run: |
        sudo apt update
        sudo apt install --yes \
          g++ clang make gnupg cmake git wget libstdc++-14-dev \
          liblapack-dev libf2c2-dev libqhull-dev libeigen3-dev \
          libjsoncpp-dev libyaml-dev libhdf5-dev libpoco-dev libboost-system-dev portaudio19-dev libusb-1.0-0-dev \
          libx11-dev libxi-dev libxxf86vm-dev libglu1-mesa-dev libglfw3-dev libglew-dev libglm-dev freeglut3-dev libpng-dev libassimp-dev libfreetype6-dev \
          python3-dev python3 python3-pip
    - name: install python dependencies
      run: |
        python3 -m pip install --user numpy pybind11 pybind11-stubgen
    - name: install source dependencies
      run: |
        wget https://github.com/MarcToussaint/rai/raw/refs/heads/marc/_make/install.sh; chmod a+x install.sh
        ./install.sh libccd
        ./install.sh fcl
        ./install.sh libann
    - name: setup build files
      run: |
        cp _make/CMakeLists-ubuntu.txt CMakeLists.txt
        cd $HOME        
    - name: cmake configure
      run: |
        export PY_VER=`python3 -c "import sys; print(str(sys.version_info[0])+'.'+str(sys.version_info[1]))"`
        cmake . -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DUSE_PHYSX=OFF -DUSE_BULLET=OFF -DUSE_LIBFRANKA=OFF -DUSE_REALSENSE=OFF -DPY_VERSION=$PY_VER -DUSE_QHULL8=ON
    - name: build
      run: make -C build _robotic bot install
    - name: test
      run: ry-info
